{% extends "base.html" %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

{% block content %}
<h1 class="title">
  Movie Reviews Site
</h1>
<h2 class="subtitle">
  A place to store your movie reviews
</h2>
<hr />
<div class="row">
  <div class="col">
    <h3 class="title">
      Top Ten Movies
    </h3>
    <hr />
    {% for review in top_10 %}
      <h4>
        {{ loop.index0 + 1 }}. {{ review.movie_title }}
      </h4>

    {% endfor %}
  </div>
  <div class="col">
    <h3 class="title">
      Most Recent Reviews
    </h3>
    <hr />
    {% for review in recent %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ review.movie_title }}<span class="float-end">{{ review.rating }}</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">reviewed by {{ review.user.name }} on {{ review.created_date|formatdatetime }}</h6>
          <p class="card-text">{{ review.review_text }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
