{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Search for a movie
</h1>
<hr />
<form method="POST" action="/movies">
  <div class="row">
    <div class="col-10">
      <div class="mb-3">
        <input class="form-control" type="text" name="search_text" placeholder="The Matrix" autofocus="" value="{{ search_text }}">
      </div>
    </div>
    <div class="col">
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</form>
{% if results %}
  <hr />
  {% if results|length == 0%}
    <h3>No Results</h3>
  {% else %}
    <h3>Search found {{ results|length }} results</h3>
    <div class="row">
      {% for movie in results %}
      <div class="col-12 col-lg-6">
          <div class="container">
            <div class="card" style="height: 350px;">
              <div class="row">
                <div class="col-md-6">
                  <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"  style="height: 350px;" />
                </div>
                <div class="col-md-6">
                  <div class="card-block">
                    <h4 class="card-title">{{ movie.title }}</h4>
                    <p class="card-text"><strong>Released:</strong> {{ movie.release_date }}</p>
                    <p class="card-text"><strong>Overview:</strong> {{ movie.overview | truncate(140) }}</p>
                    <a href="/movies/{{movie.id}}" class="btn btn-primary">Review Movie...</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>

  {% endif %}
{% endif %}
{% endblock %}
